.navCon {
    position: relative;
    left: 0;
    top: 0;
    width: 100vw;
    height: 6dvh;
    display: flex;
    justify-content: center;
    box-sizing: border-box; /* Ensure padding doesn't affect the width */
}

#nav {
    color: white;
    position: relative;
    display: flex;
    width: 25%;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.25rem;
}