#titleCon {
    position: relative;
    width: 97%;
    display: flex;
    height: 20vh;
    color: rgb(255, 255, 255);
    margin-left: 1.5%;
}

#title {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
}

#title > p {
    font-size: 12.5rem;
    line-height: 12rem;
    font-weight: 900;
    margin: 0;
    letter-spacing: 0.35rem;
}